@import '../../style/functions.scss';

:host {
    display: block;
}

.tag-list {
    display: grid;
    grid: {
        auto-flow: column;
        template-layout: auto auto 1fr;
    }
    justify-content: left;
    margin: pxToRem(4) 0;
}

code {
    font-family: var(--kompendium-font-code);
    font-size: pxToRem(13);
    margin: 0 pxToRem(8) 0 pxToRem(4);
}

// 😱😵🤘
img {
    width: pxToRem(16);
    filter: invert(0.5) sepia(1) hue-rotate(185deg) saturate(5);
    vertical-align: middle;

    .tag--deprecated & {
        filter: invert(0.35) sepia(1) hue-rotate(-60deg) saturate(5);
    }
}
