@import '../../style/reset.scss';
@import '../../style/functions.scss';
@import '../../style/typography.scss';

:host {
    display: block;
}

code {
  padding: 0.125rem 0.3125rem;
  margin: 0 0.125rem;
  white-space: nowrap;
  color: rgb(var(--contrast-1100));
  border: 1px solid rgba(var(--contrast-1100), .1);;
  border-radius: pxToRem(4);
  background: rgba(var(--contrast-1100), .05);
}

pre > code {
  display: block;
  padding: .625rem 0.6375rem;
  white-space: pre;
}

.value--false {
    code {
        color: rgb(var(--color-code-magenta));
        border-color: rgba(var(--color-code-magenta), .2);
        background-color: rgba(var(--color-code-magenta), .1);
    }
}


.value--true {
    code {
        color: rgb(var(--color-code-green-dark));
        border-color: rgba(var(--color-code-green-dark), .2);
        background-color: rgba(var(--color-code-green-dark), .1);
    }
}

dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: .5rem;
    margin-bottom: 2rem;

    dt, dd {
        padding-bottom: .2rem;
    }

    // > dt:nth-child(4n+3), > dd:nth-child(4n) {
    //     background-color: #f0f5fa
    // }
}
