@use '../style/mixins.scss';
@use '../style/functions.scss';
@use '../style/dev-server-progress-bar.scss';
@use '../style/dev-server-modal.scss';
@use '../style/reset.scss';
@use '../style/variables.scss';
@use '../style/colors.scss';
@use '../style/shadows.scss';
@use '../style/typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Source+Code+Pro&display=swap');

:root {
    --kompendium-font-primary: 'Lato', sans-serif;
    --kompendium-font-code: 'Source Code Pro', monospace;
}

body {
    transition: background-color 0.3s ease 0.05s;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    scroll-behavior: smooth;

    font-family: var(--kompendium-font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;

    color: rgb(var(--kompendium-contrast-1200));
    line-height: 1.5;
    background-color: rgb(var(--kompendium-contrast-300));
}
