@import '../../style/reset.scss';

:host {
    display: block;
    margin: 0;
    padding: 0;
}

main {
    margin-left: var(--width-nav-panel);
}

@media (max-width: 1000px) {
    main {
        margin-left: 0;
    }
}
