@import '../../style/reset.scss';
@import '../../style/variables.scss';
@import '../../style/functions.scss';

:host {
    display: block;
    margin: 0;
    padding: 0;
}

main {
    padding: pxToRem(20) pxToRem(32);

    margin-left: var(--width-nav-panel);
}

@media (max-width: $break-point-small) {
    main {
        padding-top: pxToRem(42);
        margin-left: 0;
    }
}
