@use '../../style/reset.scss';
@use '../../style/variables.scss';
@use '../../style/functions.scss';
@use '../../style/loading.scss';

:host {
    display: block;
    margin: 0;
    padding: 0;
}

main {
    padding: functions.pxToRem(20) functions.pxToRem(32);

    margin-left: var(--width-nav-panel);

    kompendium-guide {
        display: block;
        width: 100%;
        max-width: functions.pxToRem(960);
    }
}

@media (max-width: variables.$break-point-small) {
    main {
        padding-top: functions.pxToRem(42);
        margin-left: 0;
    }
}

@media (max-width: variables.$break-point-mini) {
    // In case we need to add things here
}
