@import '../../style/reset.scss';
@import '../../style/variables.scss';
@import '../../style/functions.scss';
@import '../../style/loading.scss';

:host {
    display: block;
    margin: 0;
    padding: 0;
}

main {
    padding: pxToRem(20) pxToRem(32);

    margin-left: var(--width-nav-panel);

    kompendium-guide {
        display: block;
        width: 100%;
        max-width: pxToRem(960);
    }
}



@media (max-width: $break-point-small) {
    main {
        padding-top: pxToRem(42);
        margin-left: 0;
    }
}


@media (max-width: $break-point-mini) {
    // In case we need to add things here
}
