@import '../../style/reset.scss';
@import '../../style/mixins.scss';
@import '../../style/functions.scss';
@import '../../style/typography.scss';

:host {
    display: block;
}

.docs {
    h1, h2, h3, h4, h5,
    kompendium-markdown,
    kompendium-taglist {
        width: 50%;
    }

    kompendium-playground {
        width: 100%;
    }
}

.docs {
    padding: pxToRem(20) pxToRem(32);
}

.playground {
    height: 100%;
    border-left: 1px solid rgba(var(--contrast-500));
    background-color: rgb(var(--contrast-300))
}


kompendium-taglist {
    margin-bottom: 1rem;
}

kompendium-proplist {
    margin-bottom: 2rem;
}

h5 {
    border-bottom: 1px solid rgb(var(--contrast-600));
}

@media (max-width: 1000px) {
    .docs {
        h1, h2, h3, h4, h5,
        kompendium-markdown,
        kompendium-taglist {
            width: 100%;
        }
    }
}
