@import '../../style/reset.scss';
@import '../../style/functions.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

:host {
  display: block;
  font-family: var(--kompendium-font-primary);

  --width-nav-bar: 3rem;
  --padding-nav-bar: .5rem;
}

.nav-bar {
    width: var(--width-nav-bar);
    height: 100vh;
    position: fixed;
    background-color: rgb(var(--contrast-1500));
    padding: var(--padding-nav-bar);
}

.nav-list,
.panel-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-item {
    width: 100%;
    height: calc(var(--width-nav-bar) - (var(--padding-nav-bar) *2));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: pxToRem(8) 0;

    &:last-child {
        margin-top: auto;
    }
}

.nav-link {
    color: rgb(var(--contrast-600));
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: pxToRem(6);

    &.active {
        color: rgb(var(--contrast-1100));
        background-color: rgb(var(--contrast-600));
    }

    i {
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
    }

}

// .link-text {
//     display: none;
//     margin-left: 1rem;
//     white-space: nowrap;
// }

.nav-panel {
    width: 16rem;
    height: 100vh;
    position: fixed;
    background-color: var(--kompendium-secondary-color);
    margin-left: 5rem;
    display: flex;
    flex-direction: column;

    .panel-header {
        flex-shrink: 0;
        height: 5rem;
        align-items: center;
        padding-left: 1.5rem;
        margin-bottom: 1.5rem;

        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: 0.5ch;
        color: var(--kompendium-text-on-secondary);

        h1 {
            font-weight: unset;
            word-break: break-word;
        }
    }

    .panel-list {
        overflow-y: auto;
    }
}

.panel-item {
    width: 100%;
}

.panel-link {
    display: flex;
    align-items: center;
    height: 2.5rem;
    color: var(--kompendium-text-on-secondary);
    text-decoration: none;
    padding-left: 1.5rem;

    &:hover,
    &.active {
        color: var(--kompendium-text-on-primary)
    }

    &.active {
        i {
            transform: rotate(90deg);
        }
    }

    i {
        margin-right: 1rem;
        transform: rotate(0deg);
        transition: transform 300ms;
    }
}

.chapters {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease;

    &.active {
        max-height: 50vh;
    }

    i {
        opacity: 0;
    }
}
