@import '../../style/reset.scss';
@import '../../style/mixins.scss';
@import '../../style/variables.scss';
@import '../../style/functions.scss';

:host {
    display: block;
    font-family: var(--kompendium-font-primary);

    --size-show-nav-panel-button: 2.25rem;
}

header {
    a {
        text-decoration: none;
        color: unset;
    }
}

.nav-panel-scrim {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nav-panel {
    transition: margin 0.2s ease, background-color 0.3s ease;
    z-index: 100;

    width: var(--width-nav-panel);
    height: 100vh;
    position: fixed;
    background-color: rgb(var(--kompendium-contrast-400));
    display: flex;
    flex-direction: column;

    .panel-header {
        transition: border 0.3s ease;
        flex-direction: row;
        padding: 1rem;
        border-bottom: 1px solid rgb(var(--kompendium-contrast-600));
        margin-bottom: pxToRem(8);
    }

    .panel-list {
        overflow-y: auto;

        &:not(.chapters) {
            padding: 0 pxToRem(12) pxToRem(32) pxToRem(12);
        }
    }
}

.branding-and-mode {
    display: flex;
    align-items: center;
    margin-bottom: pxToRem(12);

    h1 {
        font-size: pxToRem(16);
        font-weight: normal;
        letter-spacing: 0.5ch;
        color: rgb(var(--kompendium-contrast-900));
        flex-grow: 1;
        line-height: 0;
    }

    kompendium-darkmode-switch {
        position: relative;
        flex-shrink: 0;
        margin-left: pxToRem(12);
        padding-left: pxToRem(8);

        &:before {
            transition: background-color 0.3s ease;

            content: '';
            position: absolute;
            background-color: rgb(var(--kompendium-contrast-600));

            border-radius: pxToRem(8);
            height: pxToRem(20);
            width: pxToRem(2);
            left: pxToRem(1);
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.powered-by {
    position: absolute;
    bottom: 0;
    font-size: pxToRem(12);
    padding: pxToRem(8) pxToRem(12);
    background-color: rgba(var(--kompendium-contrast-100), 0.4);
    backdrop-filter: blur(pxToRem(4));
    width: 100%;
    margin-left: pxToRem(-4);

    p {
        padding-left: pxToRem(28);

        background: {
            image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path fill="none" d="M-.003 0h148v80h-148z"/><path d="M148.008 20c0-11.038-8.96-20-19.999-20H19.977c-11.038 0-20 8.962-20 20v40c0 11.038 8.962 20 20 20H128.01c11.038 0 20-8.962 20-20V20z" fill="rgb(36,71,88)"/><path d="M26.564 43.651v14.604H19.26V43.65h7.304zm0-7.302H19.26V21.745h7.304V36.35z" fill="rgb(255,160,0)"/><path d="M106.82 58.254v-7.303h7.304V43.65h7.304v-7.301h-7.304v-7.303h-7.304v-7.302h7.304v7.302h7.304v7.303h7.293v7.301h-7.293v7.302h-7.304v7.303h-7.304zm-43.812 0v-7.303h7.304V43.65h7.304v-7.301h7.303v-7.303h7.293v-7.302h7.304v7.302h-7.304v7.303H84.92v7.301h-7.303v7.302h-7.304v7.303h-7.304zm-14.597 0v-7.303h-7.304V43.65h-7.304v-7.301h7.304v-7.303h7.304v-7.302h7.293v7.302H48.41v7.303h-7.304v7.301h7.304v7.302h7.293v7.303H48.41z" fill="rgb(0,200,82)"/></svg>');
            position: left center;
            repeat: no-repeat;
            size: pxToRem(24);
        }
    }

    a {
        transition: color 0.2s ease;
        color: rgb(var(--kompendium-color-blue-default));
        text-decoration: none;

        &:hover {
            color: rgb(var(--kompendium-color-blue-light));
        }
    }
}

.nav-panel__responsive-menu {
    @include is-elevated-clickable;
    transition: all 0.2s ease;
    display: none;
    cursor: pointer;

    position: absolute;
    top: pxToRem(12);
    right: calc((var(--size-show-nav-panel-button) * -1) - #{pxToRem(16)});

    width: var(--size-show-nav-panel-button);
    height: var(--size-show-nav-panel-button);
    margin: pxToRem(4);
    border-radius: 50%;

    text-align: center;
    font-weight: bold;
    background-color: rgba(var(--kompendium-contrast-200), 0.7);
    backdrop-filter: blur(pxToRem(4));
    color: rgb(var(--kompendium-contrast-900));

    span {
        transition: background-color 0.2s ease, transform 0.2s ease 0.3s,
            opacity 0.15s ease 0.3s;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: pxToRem(2);
        width: pxToRem(16);
        border-radius: pxToRem(4);
        background-color: rgb(var(--kompendium-contrast-900));

        &:nth-child(1) {
            top: pxToRem(12);
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 0;
            bottom: 0;
        }

        &:nth-child(4) {
            bottom: pxToRem(12);
        }
    }

    &:hover {
        span {
            background-color: rgb(var(--kompendium-contrast-1200));
        }
    }
}

@media (max-width: $break-point-small) {
    .nav-panel-scrim {
        &.display-nav-panel {
            display: block;
        }
    }

    .nav-panel {
        margin-left: calc(var(--width-nav-panel) * -1);

        &.display-nav-panel {
            margin-left: 0;
            box-shadow: 0 #{pxToRem(1.5)} #{pxToRem(3.6)} 0 rgba(0, 0, 0, 0.232),
                0 #{pxToRem(0.3)} #{pxToRem(0.9)} 0 rgba(0, 0, 0, 0.208);

            .nav-panel__responsive-menu {
                right: calc(
                    (var(--size-show-nav-panel-button) * -1) - #{pxToRem(5)}
                );
                border-radius: 0 pxToRem(8) pxToRem(8) 0;

                span {
                    &:nth-child(1),
                    &:nth-child(4) {
                        transform: scaleX(0);
                        opacity: 0;
                    }

                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    .nav-panel__responsive-menu {
        display: block;
    }
}

.panel-item {
    transition: opacity 0.2s ease;
    width: 100%;
    border-radius: pxToRem(6);

    &.active {
        background-color: rgb(var(--kompendium-contrast-100), 0.5);
    }
}

.panel-link {
    display: grid;
    grid: {
        auto-flow: column;
        template-columns: 1fr pxToRem(28);
    }
    line-height: pxToRem(28);
    color: rgb(var(--kompendium-contrast-900));
    text-decoration: none;
    border-radius: pxToRem(6);

    &:hover,
    &.active {
        color: rgb(var(--kompendium-color-blue-default));
    }

    &.active {
        svg {
            transform: scale(0.64) rotate(-90deg);
        }
    }

    @include visualize-keyboard-focus();

    svg {
        visibility: hidden;
        transition: transform 0.2s ease;
        transform: scale(0.64) rotate(90deg);
        height: pxToRem(32);
    }

    &.has-children svg {
        visibility: visible;
    }
}

.link-text {
    @include truncate-text;
    width: 100%;
    padding-left: pxToRem(8);
}

.chapters {
    height: 0;

    > .panel-item {
        padding: 0 pxToRem(8);
    }

    &.active {
        transition: height 0.2s ease;
        height: 100%;

        .panel-item {
            opacity: 1;
            transition-delay: 0.2s;

            &:nth-child(1) {
                transition-delay: 0s;
            }
            &:nth-child(2) {
                transition-delay: 0.04s;
            }
            &:nth-child(3) {
                transition-delay: 0.06s;
            }
            &:nth-child(4) {
                transition-delay: 0.08s;
            }
            &:nth-child(5) {
                transition-delay: 0.1s;
            }
            &:nth-child(6) {
                transition-delay: 0.12s;
            }
            &:nth-child(7) {
                transition-delay: 0.14s;
            }
            &:nth-child(8) {
                transition-delay: 0.15s;
            }
            &:nth-child(9) {
                transition-delay: 0.16s;
            }
            &:nth-child(10) {
                transition-delay: 0.17s;
            }
            &:nth-child(11) {
                transition-delay: 0.18s;
            }
            &:nth-child(12) {
                transition-delay: 0.19s;
            }
            &:last-child {
                margin-bottom: pxToRem(8);
            }
        }
    }

    .panel-link.has-children svg {
        visibility: hidden;
    }

    .panel-item {
        opacity: 0;

        .chapters {
            font-size: pxToRem(13);
            padding-left: pxToRem(8);

            &:first-child {
                margin-top: pxToRem(4);
            }
        }
    }
}
