@import '../../style/reset.scss';
@import '../../style/functions.scss';

:host {
  display: block;
  font-family: var(--kompendium-font-primary);

  --size-show-nav-panel-button: 2.25rem;
}

header {
    a {
        text-decoration: none;
        color: unset;
    }
}

.nav-panel {
    z-index: 100;

    width: var(--width-nav-panel);
    height: 100vh;
    position: fixed;
    background-color: rgb(var(--contrast-400));
    display: flex;
    flex-direction: column;

    .panel-header {
        flex-direction: row;
        padding: 1rem;
        border-bottom: 1px solid rgb(var(--contrast-600));

        h1 {
            text-transform: uppercase;
            font-size: pxToRem(16);
            font-weight: normal;
            letter-spacing: 0.5ch;
            color: rgb(var(--contrast-800));
            margin-bottom: pxToRem(8);
        }
    }

    .panel-list {
        overflow-y: auto;

        &:not(.chapters) {
          padding-bottom: pxToRem(32);
        }
    }
}

.nav-panel__responsive-menu {
    display: none;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: calc((var(--size-show-nav-panel-button) * -1) - 0.5rem);

    width: var(--size-show-nav-panel-button);
    height: var(--size-show-nav-panel-button);
    margin: pxToRem(4);
    border-radius: pxToRem(4);

    text-align: center;
    font-weight: bold;
    background-color: rgb(var(--contrast-600));
    color: rgb(var(--contrast-900));

    transform: rotate(90deg);
}

@media (max-width: 1000px) {
    .nav-panel {
        margin-left: calc(var(--width-nav-panel) * -1);

        .show-nav {
            line-height: calc(var(--size-show-nav-panel-button) + 0.15rem);
            display: initial;
        }
        .hide-nav {
            display: none;
            line-height: calc(var(--size-show-nav-panel-button) - 0.3rem);
            font-size: pxToRem(32);
        }

        &.display-nav-panel {
            margin-left: 0;

            .show-nav {
                display: none;
            }
            .hide-nav {
                display: initial;
            }
        }
    }

    .nav-panel__responsive-menu {
        display: block;
    }
}

.panel-item {
    width: 100%;
    padding-left: pxToRem(8);
}

.panel-link {
    display: flex;
    align-items: center;
    height: pxToRem(36);
    line-height: pxToRem(36);
    color: rgb(var(--contrast-900));
    text-decoration: none;

    &:hover,
    &.active {
        color: rgb(var(--contrast-1600))
    }

    &.active {
        img {
            transform: rotate(90deg) scale(0.8);
        }
    }

    img {
        transform: scale(0.8);
        transition: transform 0.2s ease;
        margin-right: pxToRem(8);
        padding: pxToRem(4);
        display: inline-block;
        vertical-align: bottom;
    }
}

.chapters {
    height: 0;
    transition: height 0.2s ease;

    &.active {
        height: 100%;
    }

    img {
        opacity: 0;
    }

    .panel-item {
        .chapters {
            font-size: pxToRem(13);

            &:last-child {
                margin-bottom: pxToRem(8);
            }
        }
    }
}
