// To use be able to use colors with alpha, they are written in RGB.
// Comments in front of the values are used as reference only.
// Example of use:
// solid: `color: rgb(var(--kompendium-contrast-100))`
// transparent: `color: rgba(var(--kompendium-contrast-100), 0.5)`

@import 'mixins';

:root {
    // Absolute white and black (Does not have dark/light mode variants)
    --kompendium-color-white: 255, 255, 255; // #fff
    --kompendium-color-black: 0, 0, 0; // #000

    // Contrast swatches, to use for tones that can automatically revert in dark/light modes. E.g. text and background
    --kompendium-contrast-100: 255, 255, 255; // #fff
    --kompendium-contrast-200: 250, 250, 251; // #fafafb
    --kompendium-contrast-300: 246, 246, 247; // #f6f6f7
    --kompendium-contrast-400: 241, 241, 243; // #f1f1f3
    --kompendium-contrast-500: 237, 237, 238; // #ededee
    --kompendium-contrast-600: 232, 232, 234; // #e8e8ea
    --kompendium-contrast-700: 209, 209, 213; // #d1d1d5
    --kompendium-contrast-800: 186, 186, 192; // #babac0
    --kompendium-contrast-900: 140, 140, 150; // #8c8c96
    --kompendium-contrast-1000: 117, 117, 128; // #757580
    --kompendium-contrast-1100: 94, 94, 108; // #5e5e6c
    --kompendium-contrast-1200: 71, 71, 86; // #474756
    --kompendium-contrast-1300: 48, 48, 66; // #303042
    --kompendium-contrast-1400: 39, 39, 57; // #272739
    --kompendium-contrast-1500: 35, 35, 53; // #232335
    --kompendium-contrast-1600: 25, 25, 44; // #19192c
    --kompendium-contrast-1700: 0, 0, 0; // #000

    // Colors swatches that get slightly dimmer in dark mode
    --kompendium-color-red-light: 229, 115, 115; // #e57373;
    --kompendium-color-red-default: 244, 67, 54; // #f44336;

    --kompendium-color-blue-light: 100, 181, 246; // #64b5f6
    --kompendium-color-blue-default: 33, 150, 243; // #2196f3

    --kompendium-color-green-light: 129, 199, 132; // #81c784
    --kompendium-color-green-default: 76, 175, 80; // #4caf50

    --kompendium-color-amber-light: 255, 213, 79; // #ffd54f
    --kompendium-color-amber-default: 255, 193, 7; // #ffc107

    --kompendium-color-orange-light: 255, 183, 77; // #ffb74d
    --kompendium-color-orange-default: 255, 152, 0; // #ff9800

    @include in(dark-mode) {
        --kompendium-contrast-100: 0, 0, 0; // #000
        --kompendium-contrast-200: 25, 25, 44; // #19192c
        --kompendium-contrast-300: 35, 35, 53; // #232335
        --kompendium-contrast-400: 39, 39, 57; // #272739
        --kompendium-contrast-500: 48, 48, 66; // #303042
        --kompendium-contrast-600: 71, 71, 86; // #474756
        --kompendium-contrast-700: 94, 94, 108; // #5e5e6c
        --kompendium-contrast-800: 117, 117, 128; // #757580
        --kompendium-contrast-900: 140, 140, 150; // #8c8c96
        --kompendium-contrast-1000: 186, 186, 192; // #babac0
        --kompendium-contrast-1100: 209, 209, 213; // #d1d1d5
        --kompendium-contrast-1200: 232, 232, 234; // #e8e8ea
        --kompendium-contrast-1300: 237, 237, 238; // #ededee
        --kompendium-contrast-1400: 241, 241, 243; // #f1f1f3
        --kompendium-contrast-1500: 246, 246, 247; // #f6f6f7
        --kompendium-contrast-1600: 250, 250, 251; // #fafafb
        --kompendium-contrast-1700: 255, 255, 255; // #fff

        --kompendium-color-red-light: 240, 87, 80; // #f05750
        --kompendium-color-red-default: 229, 57, 53; // #e53935

        --kompendium-color-blue-light: 66, 165, 245; // #42a5f5
        --kompendium-color-blue-default: 30, 136, 229; // #1e88e5

        --kompendium-color-green-light: 102, 187, 106; // #66bb6a
        --kompendium-color-green-default: 67, 160, 71; // #43a047

        --kompendium-color-amber-light: 255, 207, 61; // #ffcf3d
        --kompendium-color-amber-default: 255, 176, 59; // #ffb03b

        --kompendium-color-orange-light: 255, 167, 38; // #ffa726
        --kompendium-color-orange-default: 251, 140, 0; // #fb8c00
    }
}


:root {
    // Code colors
    --kompendium-color-code-pink: 216, 27, 96; /* #d81b60 */
    --kompendium-color-code-magenta: 156, 22, 87; /* #9c1657 */
    --kompendium-color-code-blue: 33, 150, 243; /* #2196f3 */
    --kompendium-color-code-orange: 245, 124, 0; /* #f57c00 */
    --kompendium-color-code-yellow: 255, 87, 34; /* #ff5722 */
    --kompendium-color-code-purple: 149, 117, 205; /* #9575cd */
    --kompendium-color-code-green-light: 53, 196, 84; // #35c454
    --kompendium-color-code-green-dark: 85, 139, 47; /* #558b2f */
    --kompendium-color-code-turquoise: 0, 151, 167; /* #0097a7 */

    --kompendium-color-code-gray-lighter: 71, 71, 86; // #474756

    --kompendium-color-code-gray-light: var(--kompendium-contrast-1100);
    --kompendium-color-code-gray-dark: var(--kompendium-contrast-1200);
    --kompendium-color-code-background: var(--kompendium-contrast-200);

    @include in(dark-mode) {
        // Code colors
        --kompendium-color-code-pink: 226, 119, 122; // #e2777a
        --kompendium-color-code-magenta: 232, 62, 140; // #e83e8c
        --kompendium-color-code-blue: 97, 150, 204; // #6196cc
        --kompendium-color-code-orange: 255, 152, 0; // #ff9800
        --kompendium-color-code-yellow: 255, 213, 79; // #ffd54f
        --kompendium-color-code-purple: 206, 147, 216; // #ce93d8
        --kompendium-color-code-green-light: 174, 213, 129; // #aed581
        --kompendium-color-code-green-dark: 53, 196, 84; // #35c454
        --kompendium-color-code-turquoise: 103, 205, 204; // #67cdcc

        --kompendium-color-code-gray-lighter: 117, 117, 128; // #757580
    }
}
