div#dev-server-modal {
    perspective: 60rem;
    perspective-origin: top;
    display: flex !important;
    flex-direction: column;

    position: fixed !important;

    padding: 2rem min(4rem, 4vw) !important;
    background-color: transparent !important;

    #dev-server-modal-inner {
        animation: fade-in-modal 0.6s cubic-bezier(0.45, -0.01, 0.15, 1.47)
            forwards;
        overflow-x: auto;
        height: fit-content !important;
        box-shadow: var(--kompendium-shadow-depth-64),
            var(--kompendium-shadow-depth-8-error);
        border-radius: 0.75rem;
        padding-bottom: 0 !important;
        background-color: white;
    }
}

@keyframes fade-in-modal {
    0% {
        opacity: 0;
        transform: translate3d(0, -2rem, 0) rotateX(7deg);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotateX(0deg);
    }
}
