div#dev-server-modal {
    animation: fade-in-modal 0.6s cubic-bezier(0.45, -0.01, 0.15, 1.47) forwards;
    display: flex !important;
    max-height: calc(100% - 4rem) !important;
    flex-direction: column;

    position: fixed !important;
    margin: 2rem auto !important;
    width: calc(100% - min(4rem, 4vw)) !important;
    height: fit-content !important;
    box-shadow: var(--kompendium-shadow-depth-64),
        var(--kompendium-shadow-depth-8-error);
    border-radius: 0.75rem;

    #dev-server-modal-inner {
        overflow-x: auto;
    }
}

@keyframes fade-in-modal {
    0% {
        opacity: 0;
        transform: translate3d(0, -2rem, 0) rotateX(7deg);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotateX(0deg);
    }
}
