@use 'variables.scss';
@use 'functions.scss';

kompendium-playground {
    width: 100%;
}

.docs-layout-section-heading {
    transition: border-color 0.3s ease 0.05s;
    padding-top: functions.pxToRem(40);
    margin: functions.pxToRem(40) 0 functions.pxToRem(20) 0;
    border-top: 1px solid rgb(var(--kompendium-contrast-500));

    &:before {
        content: '';
        width: functions.pxToRem(2);
        height: functions.pxToRem(12);
        display: inline-block;
        background-color: rgba(var(--kompendium-color-code-blue), 0.4);
        border-radius: functions.pxToRem(1);
        transform: translateX(functions.pxToRem(-8));
    }
}

.props-events-layout {
    .markdown-props {
        display: grid;
        grid: {
            gap: functions.pxToRem(20);
            auto-flow: column;
            template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: variables.$break-point-mini) {
    .props-events-layout {
        .markdown-props {
            grid: {
                gap: functions.pxToRem(12);
                auto-flow: row;
                template-columns: unset;
            }
        }
    }
}

.methods-layout {
    border-radius: functions.pxToRem(6);
    margin-bottom: functions.pxToRem(40);
    background-color: rgb(var(--kompendium-contrast-400));
}

.methods-title {
    margin: 0;
    border-radius: functions.pxToRem(6) functions.pxToRem(6) 0 0;
    padding: functions.pxToRem(12) functions.pxToRem(16);
    background-color: rgb(var(--kompendium-contrast-500));
    font-size: functions.pxToRem(17);
}

.methods-content {
    display: grid;
    grid: {
        gap: functions.pxToRem(20);
        auto-flow: column;
        template-columns: 1fr 1fr;
    }
    padding: functions.pxToRem(16) functions.pxToRem(20) functions.pxToRem(24)
        functions.pxToRem(20);
}

.methods-returns {
    padding: functions.pxToRem(16) functions.pxToRem(20) functions.pxToRem(24)
        functions.pxToRem(20);
    border-radius: 0 0 functions.pxToRem(6) functions.pxToRem(6);
    border-top: 1px solid rgb(var(--kompendium-contrast-600));

    h5 {
        margin-top: 0;
    }
}

@media (max-width: variables.$break-point-mini) {
    .methods-content {
        grid: {
            gap: functions.pxToRem(12);
            auto-flow: row;
            template-columns: unset;
        }
    }
}

.styles-layout {
    display: grid;
    grid: {
        auto-flow: column;
        template-columns: 1fr 1fr;
        gap: 0 functions.pxToRem(12);
    }
    border: solid rgb(var(--kompendium-contrast-500));
    border-width: 1px 1px 0 1px;

    padding: functions.pxToRem(8);

    background-color: rgb(var(--kompendium-contrast-300));

    &:first-of-type {
        // FIXME: I've tried different ways, but this doesn't seem to apply, while "last-of-type" does.
        border: {
            top-right-radius: functions.pxToRem(6);
            top-left-radius: functions.pxToRem(6);
        }
    }
    &:last-of-type {
        border: {
            bottom-right-radius: functions.pxToRem(6);
            bottom-left-radius: functions.pxToRem(6);
            bottom-width: 1px;
        }
    }
    &:nth-of-type(odd) {
        background-color: rgb(var(--kompendium-contrast-400));
    }
}

.styles-title {
    code {
        font-family: var(--kompendium-font-code);
        border-radius: functions.pxToRem(4);
        border: 1px solid rgba(var(--kompendium-contrast-1100), 0.1);

        font-size: functions.pxToRem(11);
        white-space: pre-wrap;
        color: rgb(var(--kompendium-contrast-1100));

        padding: 0.125rem 0.3125rem;
        margin: 0 0.125rem;
        background: rgba(var(--kompendium-contrast-1100), 0.05);
    }
}

.styles-content {
}

@media (max-width: variables.$break-point-mini) {
    .styles-layout {
        grid: {
            auto-flow: row;
            template-columns: unset;
            gap: functions.pxToRem(12) 0;
        }
    }
}
