@mixin visualize-keyboard-focus {
    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: none;
        box-shadow: var(--kompendium-shadow-depth-8-focused);
    }
}

@mixin in($media) {
    @if $media == dark-mode {
        @media (prefers-color-scheme: dark) {
            &:not([data-theme='force-light']) {
                @content;
            }
        }
        &[data-theme='force-dark'] {
            @content;
        }
        @media (prefers-color-scheme: dark) {
            :host(:not([data-theme='force-light'])) & {
                @content;
            }
        }
        :host([data-theme='force-dark']) & {
            @content;
        }
    }
}

@mixin is-elevated-clickable() {
    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.1s ease-out;

    box-shadow: var(--kompendium-button-shadow-normal);

    &:hover {
        box-shadow: var(--kompendium-button-shadow-hovered);
    }

    &:active {
        box-shadow: var(--kompendium-button-shadow-pressed);

        transform: translate3d(0, 0.08rem, 0);
    }

    @include visualize-keyboard-focus();
}

@mixin is-flat-clickable() {
    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.1s ease-out;

    &:hover {
        box-shadow: var(--kompendium-button-shadow-hovered);
    }

    &:active {
        box-shadow: var(--kompendium-button-shadow-pressed);

        transform: translate3d(0, 0.08rem, 0);
    }

    @include visualize-keyboard-focus();
}

@mixin truncate-text() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
