@use 'functions';
@use 'mixins';

:root {
    // Good for buttons and clickables such as select dropdowns, or slider grabbers
    // Could be useful for highlighting areas or elements that are focused, using a box-shadow.
    --kompendium-focused-state: 0 0 0 #{functions.pxToRem(2)} rgb(var(--kompendium-color-primary));

    // Could be useful for highlighting areas or elements that contain errors, using a box-shadow.
    --kompendium-error-state: 0 0 0 #{functions.pxToRem(2)} rgb(var(--kompendium-color-error));

    // Good for buttons and clickables such as select dropdowns, or slider grabbers
    --kompendium-button-shadow-normal: 0 #{functions.pxToRem(1.5)} #{functions.pxToRem(
                3.6
            )} 0 rgba(var(--kompendium-color-black), 0.232),
        0 #{functions.pxToRem(0.3)} #{functions.pxToRem(0.9)} 0
            rgba(var(--kompendium-color-black), 0.208);
    --kompendium-button-shadow-hovered: 0 #{functions.pxToRem(2)} #{functions.pxToRem(
                6
            )} rgba(var(--kompendium-color-black), 0.15),
        0 #{functions.pxToRem(6)} #{functions.pxToRem(10)}
            rgba(var(--kompendium-color-black), 0.05);
    --kompendium-button-shadow-pressed: 0 #{functions.pxToRem(1)} #{functions.pxToRem(
                3
            )} 0 rgba(var(--kompendium-color-black), 0.132),
        0 #{functions.pxToRem(0.3)} #{functions.pxToRem(0.9)} 0
            rgba(var(--kompendium-color-black), 0.108);
    --kompendium-button-shadow-inset: 0 #{functions.pxToRem(0.5)} #{functions.pxToRem(
                3.5
            )} 0 rgba(var(--kompendium-color-black), 0.132) inset,
        0 #{functions.pxToRem(0.3)} #{functions.pxToRem(0.9)} 0
            rgba(var(--kompendium-color-black), 0.108) inset,
        0 0 #{functions.pxToRem(4)} rgba(var(--kompendium-color-white), 0.9);
    --kompendium-button-shadow-inset-pressed: 0 #{functions.pxToRem(0.5)} #{functions.pxToRem(
                5.5
            )} 0 rgba(var(--kompendium-color-black), 0.132) inset,
        0 #{functions.pxToRem(0.3)} #{functions.pxToRem(1.9)} 0
            rgba(var(--kompendium-color-black), 0.12) inset,
        0 0 #{functions.pxToRem(3)} rgba(var(--kompendium-color-white), 0.9);

    // Good for Command bars, Command dropdowns, Context menus
    --kompendium-shadow-depth-8: 0 #{functions.pxToRem(3.2)} #{functions.pxToRem(
                7.2
            )} 0 rgba(var(--kompendium-color-black), 0.132),
        0 #{functions.pxToRem(0.6)} #{functions.pxToRem(1.8)} 0
            rgba(var(--kompendium-color-black), 0.108);
    // Same as above, but when element is focused
    --kompendium-shadow-depth-8-focused: var(--kompendium-shadow-depth-8),
        var(--kompendium-focused-state);
    // Same as above, but when element is indicating error or warning
    --kompendium-shadow-depth-8-error: var(--kompendium-shadow-depth-8),
        var(--kompendium-error-state);

    // Good for Teaching callouts, Search results dropdown, cards, Tooltips
    --kompendium-shadow-depth-16: 0 #{functions.pxToRem(6.4)} #{functions.pxToRem(
                14.4
            )} 0 rgba(var(--kompendium-color-black), 0.132),
        0 #{functions.pxToRem(1.2)} #{functions.pxToRem(3.6)} 0
            rgba(var(--kompendium-color-black), 0.108);

    // Good for Pop up dialogs
    --kompendium-shadow-depth-64: 0 #{functions.pxToRem(25.6)} #{functions.pxToRem(
                57.6
            )} 0 rgba(var(--kompendium-color-black), 0.22),
        0 #{functions.pxToRem(4.8)} #{functions.pxToRem(14.4)} 0
            rgba(var(--kompendium-color-black), 0.18);

    --shadow-showcase: #{functions.pxToRem(-3)} #{functions.pxToRem(-3)} #{functions.pxToRem(
                6
            )} rgba(var(--kompendium-color-black), 0.01),
        #{functions.pxToRem(-10)} #{functions.pxToRem(-10)} #{functions.pxToRem(
                30
            )} rgba(var(--kompendium-color-white), 1),
        #{functions.pxToRem(10)} #{functions.pxToRem(10)} #{functions.pxToRem(
                36
            )} rgba(var(--kompendium-color-black), 0.06),
        #{functions.pxToRem(2)} #{functions.pxToRem(2)} #{functions.pxToRem(10)}
            rgba(var(--kompendium-color-white), 0.7),
        -1px -1px 0 1px rgba(var(--kompendium-color-black), 0.07) inset,
        0 0 1px 1px rgba(var(--kompendium-color-white), 0.98) inset;

    @include mixins.in(dark-mode) {
        --shadow-showcase: #{functions.pxToRem(-10)} #{functions.pxToRem(-10)} #{functions.pxToRem(
                    30
                )} rgba(var(--kompendium-color-white), 0.01),
            #{functions.pxToRem(2)} #{functions.pxToRem(2)} #{functions.pxToRem(
                    10
                )} rgba(var(--kompendium-color-white), 0.01),
            #{functions.pxToRem(-3)} #{functions.pxToRem(-3)} #{functions.pxToRem(
                    6
                )} rgba(var(--kompendium-color-black), 0.01),
            #{functions.pxToRem(10)} #{functions.pxToRem(10)} #{functions.pxToRem(
                    36
                )} rgba(var(--kompendium-color-black), 0.4),
            -1px -1px 0 1px rgba(var(--kompendium-color-black), 0.07) inset,
            0 0 1px 1px rgba(var(--kompendium-color-white), 0.08) inset;
    }
}
