@import './functions.scss';

body {

}

p, a, li {
    font-size: pxToRem(14);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: pxToRem(8);
  font-weight: normal;
  font-weight: 500;
}

h1 {
    font-size: pxToRem(32);
    line-height: pxToRem(36);
    margin-top: pxToRem(24);
    letter-spacing: pxToRem(-1);
    font-weight: 400;
}
h2 {
    font-size: pxToRem(26);
    line-height: pxToRem(20);
    margin-top: pxToRem(20);
    margin-bottom: pxToRem(16);
}
h3 {
    font-size: pxToRem(22);
    line-height: pxToRem(24);
    margin-top: pxToRem(16);
}
h4 {
    font-size: pxToRem(20);
    line-height: pxToRem(20);
    margin-top: pxToRem(16);
}
h5 {
    font-size: pxToRem(18);
    line-height: pxToRem(18);
    margin-top: pxToRem(12);
}
h6 {
    font-size: pxToRem(16);
    font-variant: all-small-caps;
    letter-spacing: pxToRem(1);
}

p {
  margin-top: 0;
  margin-bottom: pxToRem(8);

  &:only-child {
      margin-bottom: 0;
  }
}

a {
    transition: color 0.2s ease;
  color: rgb(var(--color-blue-default));
  text-decoration: none;

  &:hover {
      color: rgb(var(--color-blue-light));
  }
}

ul {
  list-style: none;
  li {
      position: relative;
      margin-left: pxToRem(12);

      &:before {
          content: '';
          position: absolute;
          left: pxToRem(-8);
          top: pxToRem(10);

          width: pxToRem(4);
          height: pxToRem(4);

          border-radius: 50%;
          background-color: rgb(var(--contrast-700));
          display: block;
      }
  }
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.9375rem 0 0.9375rem 1.875rem;
  font-size: 90%;
}
li {
  margin-bottom: .625rem;
}

th,
td {
  padding: pxToRem(12) pxToRem(16);
  text-align: left;
  border-bottom: 1px solid rgb(var(--contrast-600));
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

hr {
  margin: pxToRem(28) 0 pxToRem(32) 0;
  border-width: 0;
  border-top: 1px solid rgb(var(--contrast-600));
}
