h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-weight: 300;
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.0625rem;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  letter-spacing: -0.0625rem;
}
h3 {
  font-size: 1.875rem;
  line-height: 1.3;
  letter-spacing: -0.0625rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.05rem;
}
h5 {
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}
h6 {
  font-size: 0,9375rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 2.625rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.875rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 0.9375rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--maki-primary-color);
}
a:hover {
  color: var(--maki-primary-color);
}

ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.9375rem 0 0.9375rem 1.875rem;
  font-size: 90%;
}
li {
  margin-bottom: .625rem;
}

code {
  padding: 0.125rem 0.3125rem;
  margin: 0 0.125rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: .625rem 0.6375rem;
  white-space: pre;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

hr {
  margin-top: 1.875rem;
  margin-bottom: 2.1875rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

dt {
    font-weight: 500;
}
