@use 'functions.scss';
@use 'mixins.scss';

body {
}

p,
a,
li {
    font-size: functions.pxToRem(15);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: functions.pxToRem(8);
    font-weight: normal;
    font-weight: 500;
}

h1 {
    font-size: functions.pxToRem(32);
    line-height: functions.pxToRem(36);
    margin-top: functions.pxToRem(24);
    letter-spacing: functions.pxToRem(-1);
    font-weight: 400;
}
h2 {
    font-size: functions.pxToRem(26);
    line-height: functions.pxToRem(20);
    margin-top: functions.pxToRem(20);
    margin-bottom: functions.pxToRem(16);
}
h3 {
    font-size: functions.pxToRem(22);
    line-height: functions.pxToRem(24);
    margin-top: functions.pxToRem(16);
}
h4 {
    font-size: functions.pxToRem(20);
    line-height: functions.pxToRem(20);
    margin-top: functions.pxToRem(16);
}
h5 {
    font-size: functions.pxToRem(18);
    line-height: functions.pxToRem(18);
    margin-top: functions.pxToRem(12);
}
h6 {
    font-size: functions.pxToRem(16);
    font-variant: all-small-caps;
    letter-spacing: functions.pxToRem(1);
}

p,
blockquote {
    margin-top: 0;
    margin-bottom: functions.pxToRem(8);

    &:only-child {
        margin-bottom: 0;
    }
}

a {
    transition: color 0.2s ease;
    color: rgb(var(--kompendium-color-blue-default));
    text-decoration: none;
    border-radius: 0.125rem;

    &:hover {
        color: rgb(var(--kompendium-color-blue-light));
    }

    @include mixins.visualize-keyboard-focus();
}

ul {
    list-style: none;
    li {
        position: relative;
        margin-left: functions.pxToRem(12);

        &:before {
            content: '';
            position: absolute;
            left: functions.pxToRem(-8);
            top: functions.pxToRem(10);

            width: functions.pxToRem(4);
            height: functions.pxToRem(4);

            border-radius: 50%;
            background-color: rgb(var(--kompendium-contrast-700));
            display: block;
        }
    }
}
ol {
    list-style: decimal inside;
}
ol,
ul {
    padding-left: 0;
    margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0.9375rem 0 0.9375rem 1.875rem;
    font-size: 90%;
}
li {
    margin-bottom: 0.625rem;
}

th,
td {
    padding: functions.pxToRem(12) functions.pxToRem(16);
    text-align: left;
    border-bottom: 1px solid rgb(var(--kompendium-contrast-600));
}
th:first-child,
td:first-child {
    padding-left: 0;
}
th:last-child,
td:last-child {
    padding-right: 0;
}

hr {
    margin: functions.pxToRem(28) 0 functions.pxToRem(32) 0;
    border-width: 0;
    border-top: 1px solid rgb(var(--kompendium-contrast-600));
}

kbd {
    font-family: var(--kompendium-font-code);
    font-size: functions.pxToRem(14);
    font-weight: 600;
    color: rgb(var(--kompendium-contrast-1000));
    background-color: rgb(var(--kompendium-contrast-200));
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: normal;
    padding: functions.pxToRem(2) functions.pxToRem(8);
    margin: 0 functions.pxToRem(4);
    box-shadow:
        var(--kompendium-button-shadow-normal),
        0 #{functions.pxToRem(0.5)} #{functions.pxToRem(3.5)} 0
            rgba(var(--kompendium-contrast-100), 0.5) inset;

    border: {
        radius: functions.pxToRem(4);
        style: solid;
        color: rgba(var(--kompendium-contrast-600), 0.8);
        width: 0 1px functions.pxToRem(2) 1px;
    }

    @include mixins.in(dark-mode) {
        background-color: rgb(var(--kompendium-contrast-200));
        color: rgb(var(--kompendium-contrast-1100));
        border-color: rgba(var(--kompendium-contrast-500), 0.8);
    }
}
