@import '../../style/reset.scss';
@import '../../style/functions.scss';

:host {
  display: block;
}

.search-box {
    display: flex;
    flex-direction: column;
}

input {
    transition: background-color 0.2s ease;
    border: 0;
    border-radius: .25rem;
    padding: 0 .5rem;
    color: rgb(var(--contrast-1200));
    background-color: rgb(var(--contrast-300));
    height: 2rem;
    line-height: 2rem;

    &::placeholder {
        color: rgb(var(--contrast-800));
    }

    &:active,
    &:focus,
    &:hover {
        background-color: rgb(var(--contrast-200));
    }

    &:focus {
        outline: none;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        transition: background-color 0.2s ease;
        height: pxToRem(20);
        width: pxToRem(20);
        border-radius: 50%;
        margin-right: pxToRem(-4);
        cursor: pointer;
        background: {
            color: rgb(var(--contrast-800));
            repeat: no-repeat;
            position: center;
            size: pxToRem(12);
            image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><defs/><path fill='rgb(255,255,255)' d='M7.219 5.781L5.78 7.22 14.563 16 5.78 24.781 7.22 26.22 16 17.437l8.781 8.782 1.438-1.438L17.437 16l8.782-8.781L24.78 5.78 16 14.563z'/></svg>");
        }

        &:hover {
            background-color: rgb(var(--contrast-1000));
        }
    }
}
