@import '../../style/reset.scss';

:host {
  display: block;
}

.search-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

input {
    border: 0;
    background-color: var(--kompendium-primary-color);
    border-radius: .5rem;
    padding: .5rem;
    color: var(--kompendium-text-on-primary);

    &::placeholder {
        color: var(--kompendium-text-on-primary);
        text-transform: uppercase;
        font-size: .7em;
        letter-spacing: .3ch;
        opacity: .5;
    }
}
